body{
	
background-color: pink;	
	
}

p{
	
font-style: italic;
text-align: center;
	
}

span{

font-weight: bold;
text-decoration: underline;

}

button{
	
text-decoration: none;
text-align: center;	
	
}

embed{

width: 100%;
height: 100vh;
text-align: center;

}
